* {
	box-sizing: border-box;
}

.button-test {
	background-color: #fa923f;
	color: white;
	border: 2px solid #512751;
	border-radius: 15px;
	margin: 15px auto;
	display: block;
	width: 10rem;
	height: 2rem;
}

.container {
	width: 1128px;
	height: 588px;
	border: 5px solid green;
	margin: 15px auto;
	background-image: url("./hintergrund.jpg");
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"door19 door12 door3 door2 door8 door16"
		"door13 door1 door24 door7 door11 door17"
		"door10 door20 door9 door18 door23 door6"
		"door22 door4 door5 door15 door14 door21";
	}

.image {
	background-image: none;
	border: 2px solid green;
	transition: opacity 1s;
}
